.search{
    margin-left: 1000px;
    margin-bottom: 20px;
}

.input{
    padding: 6px;
    border-radius: 8px;
    border-color: rgb(155, 192, 55);
}

.input:hover{
    background-color: rgb(155, 192, 55) ;
}
  

.button{
     margin-left: 10px;
     padding: 8px;
     border: none;
     border-radius: 5px;
     background-color: rgb(243, 85, 37);
     color: whitesmoke;
}