
.input {
  padding: 0.5vw;
  border-radius: 0.5vw;
  border-color: rgb(250, 143, 4);
  margin-left: -42vw;
  margin-top: 5vw;


}



.button_buscar {
  background-color: rgb(243, 144, 52);
  border: none;
  padding: 0.5vw;
  border-radius: 0.5vw;
  font-size: 1.2vw;
}
